#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title-container {
  margin-bottom: 2rem;
}

.title {
  font-size: 2.5rem;
}

.answer-space {
  margin-bottom: 1rem;
  color: black;
  font-weight: bold;
  font-size: 1.7em;
}

.radio-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  color: black; 
  font-family: sans-serif; 
  font-size: 1em;
}

.radio-buttons li {
  margin-bottom: 0.5rem;
  background-color: #f0f0f0
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.submit {
  background-color: #1a1a1a;
  color: white;
}

.new-drink-button {
  background-color: #1a1a1a;
  color: white;
  margin-left: 1rem;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: auto;
  position: relative;
}

.mini-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  border: 2px solid #000000; /* Border color (light brown) */
  border-radius: 8px; /* Border radius for rounded corners */
  padding: 20px; /* Optional padding for a cleaner look */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #362610;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 20px; /* Adjust the margin-top as needed */
}


/* Give wrong and correct id selectors new background colors */
#wrong {
  background-color: #ff6666; /* or any color you prefer for wrong answers */
}

#correct {
  background-color: #66ff66; /* or any color you prefer for correct answers */
}

/* Make answer-space class have a background color, width, and height */
.answer-space {
  background-color: #f0f0f0; /* or any color you prefer for answer space */
  width: 200px; /* set width as needed */
  height: 40px; /* set height as needed */
}

/* Set list-style to none for li elements */
li {
  list-style: none;
}

